# === BUILDS ===
dist/
**/dist/
build/
**/build/

# === DEPENDENCIAS ===
node_modules/
**/node_modules/

# === TURBOREPO ===
.turbo/
**/.turbo/

# === LOGS ===
npm-debug.log*
**/*.log

# === COVERAGE ===
coverage/
**/coverage/

# === ARCHIVOS DE ENTORNO ===
.env
.env.*

# === ARCHIVOS DEL SISTEMA ===
.DS_Store
Thumbs.db

# === CONFIGURACIONES LOCALES ===
*.local.*
*.swp
